<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>

<footer
  class="mt-auto"
  style="
    background-color: #121212; /* Dark background for footer */
    color: #e0e0e0; /* Light text color for contrast */
    padding: 1rem 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border-top: 1px solid #333; /* Subtle border for separation */
  "
>
  <p style="margin: 0">
    &copy; <span style="font-weight: bold">ThinkFlow</span> 2024. All rights
    reserved.
  </p>
</footer>
